{{!-- DEVELOPER NOTE: This is the page where the user can save or delete stamps they have collected. Because of the book turning
animation and initial coding direction, this page involves a lot of "hard coding".

We tried working on a solution to cut down the code to 3 double sided book pages instead of hard coding the entire book,
but we were unable to manage this without disturbing the animations.

Although it is currently hard coded, we plan to fix this in the future and implement a solution similar to the map
screen, which also had hard coding in previous versions, but which we were able to eliminate. --}}

{{!-- DEVELOPER NOTE: The "Date Stamped" feature was removed in order to better flesh out our minimum viable product.
For now, "Date stamped" has been replaced with <br>. In the future, we plan to replace that <br> with the date stamped
functionality. --}}

<div class="book-section">

  <div class="container">
    <div class="right">
      <figure class="back" id="back-cover">
        <img src="/images/bookcover.png" class="img-thumbnail rounded mx-auto d-block" style="max-width:50%;"
          alt="100 Castles Offical Stamp Book" />
        <h4 style="color:#000000"><br />日本 <br /> Journal </h4>
      </figure>

      <figure class="front">
        {{! Stamps 97-100 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp097.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">097<br />Kagoshima</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">097
                Kagoshima
                <br />
                鹿児島城
              </div>
            </span>
            <div class="card-body text-dark">
              {{!-- <input type="checkbox" onclick="todaysdate()" id="todayis" value="" /><label
                for="dateStamped">dateStamped</label> --}}


              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp098.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">098<br />Nakijin</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">098
                Nakijin
                <br />
                今帰仁城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp099.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">099<br />Nakagusuku</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">099
                Nakagusuku
                <br />
                中城城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp100.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">100<br />Shuri</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">100
                Shuri
                <br />
                首里城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{! Stamps 91-96 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp091.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">091<br />Shimabara</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">091
                Shimabara
                <br />
                島原城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp092.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">092<br />Kumamoto</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">092
                Kumamoto
                <br />
                熊本城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp093.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">093<br />Hitoyoshi</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">093
                Hitoyoshi
                <br />
                人吉城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp094.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">094<br />Funai</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">094
                Funai
                <br />
                府内城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp095.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">095<br />Oka</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">095 Oka
                <br />
                岡城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp096.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">096<br />Obi</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">096 Obi
                <br />
                飫肥城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>

      <figure class="front">
        {{! Stamps 85-90 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp085.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">085<br />Fukuoka</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">085
                Fukuoka
                <br />
                福岡城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp086.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">086<br />Ono</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">086 Ono
                <br />
                大野城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp087.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">087 Hizen<br /> Nagoya</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">087
                Hizen Nagoya
                <br />
                肥前名護屋城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp088.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">088<br />Yoshinogari</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">088
                Yoshinogari Site 吉野ヶ里
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp089.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">089<br />Saga</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">089 Saga
                <br />
                佐賀城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp090.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">090<br />Hirado</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">090
                Hirado
                <br />
                平戸城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{! Stamps 79-84 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp079.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">079<br />Imabari</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">079
                Imabari
                <br />
                今治城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp080.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">080<br />Yuzuki</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">080
                Yuzuki
                <br />
                湯築城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp081.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">081<br />Matsuyama</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">081
                Matsuyama
                <br />
                松山城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp082.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">082<br />Ozu</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">082 Ozu
                <br />
                大洲城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp083.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">083<br />Uwajima</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">083
                Uwajima
                <br />
                宇和島城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp084.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">084<br />Kochi</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">084
                Kochi
                <br />
                高知城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>

      <figure class="front">
        {{! Stamps 73-78 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp073.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">073<br />Hiroshima</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">073
                Hiroshima
                <br />
                広島城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp074.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">074<br />Iwakuni</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">074
                Iwakuni
                <br />
                岩国城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp075.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">075<br />Hagi</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">075 Hagi
                <br />
                萩城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp076.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">076<br />Tokushima</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">076
                Tokushima
                <br />
                徳島城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp077.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">077<br />Takamatsu</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">077
                Takamatsu
                <br />
                高松城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp078.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">078<br />Marugame</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">078
                Marugame
                <br />
                丸亀城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{! Stamps 67-72 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp067.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">067<br />Tsuyama</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">067
                Tsuyama
                <br />
                津山城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp068.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">068 Bitchu Matsuyama</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">068
                Bitchu Matsuyama
                <br />
                備中松山城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp069.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">069<br />Kinojo</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">069
                Kinojo
                <br />
                鬼ノ城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp070.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">070<br />Okayama</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">070
                Okayama
                <br />
                岡山城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp071.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">071<br />Fukuyama</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">071
                Fukuyama
                <br />
                福山城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp072.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">072<br />Koriyama</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">072
                Koriyama
                <br />
                郡山城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>

      <figure class="front">
        {{! Stamps 61-66 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp061.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">061<br />Takatori</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">061
                Takatori
                <br />
                高取城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp062.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">062<br />Wakayama</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">062
                Wakayama
                <br />
                和歌山城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp063.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">063<br />Tottori</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">063
                Tottori
                <br />
                鳥取城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp064.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">064<br />Matsue</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">064
                Matsue
                <br />
                松江城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp065.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">065<br />Gassan Toda</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">065
                Gassan Toda
                <br />
                月山富田城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp066.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">066<br />Tsuwano</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">066
                Tsuwano
                <br />
                津和野城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{! Stamps 55-60 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp055.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">055 <br /> Chihaya</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">055
                Chihaya
                <br />
                千早城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp056.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">056 <br /> Takeda</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">056
                Takeda
                <br />
                竹田城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp057.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">057 <br /> Sasayama</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">057
                Sasayama
                <br />
                篠山城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp058.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">058 <br /> Akashi</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">058
                Akashi
                <br />
                明石城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp059.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">059 <br /> Himeji</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">059
                Himeji
                <br />
                姫路城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp060.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">060 <br /> Ako</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">060 Ako
                <br />
                赤穂城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>

      <figure class="front">
        {{! Stamps 49-54 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp049.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">049 <br /> Odani</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">049
                Odani
                <br />
                小谷城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp050.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">050 <br /> Hikone</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">050
                Hikone
                <br />
                彦根城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp051.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">051 <br /> Azuchi</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">051
                Azuchi
                <br />
                安土城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp052.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">052 <br /> Kannonji</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">052
                Kannonji
                <br />
                観音寺城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp053.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">053 <br /> Nijo</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">053 Nijo
                <br />
                二条城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp054.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">054 <br /> Osaka</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">054
                Osaka
                <br />
                大坂城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{! Stamps 43-48 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp043.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">043 <br /> Inuyama</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">043
                Inuyama
                <br />
                犬山城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp044.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">044 <br /> Nagoya</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">044
                Nagoya
                <br />
                名古屋城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="test col-12 stamp-box card-text border border-dark">
                <img class="hidden idk" src="images/stamps/stamp045.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">045 <br /> Okazaki</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">045
                Okazaki
                <br />
                岡崎城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp046.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">046 <br /> Nagashino</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">046
                Nagashino
                <br />
                長篠城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp047.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">047 <br /> Iga Ueno</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">047 Iga
                Ueno
                <br />
                伊賀上野城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp048.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">048 <br /> Matsusaka</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">048
                Matsusaka
                <br />
                松阪城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>

      <figure class="front">
        {{! Stamps 37-42 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp037.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">037 <br /> Ichijodani</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">037
                Ichijodani
                <br />
                一乗谷城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp038.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">038 <br /> Iwamura</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">038
                Iwamura
                <br />
                岩村城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp039.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">039 <br /> Gifu</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">039 Gifu
                <br />
                岐阜城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp040.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">040 <br /> Yamanaka</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">040
                Yamanaka
                <br />
                山中城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp041.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">041 <br /> Sunpu</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">041
                Sunpu
                <br />
                駿府城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp042.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">042 <br /> Kakegawa</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">042
                Kakegawa
                <br />
                掛川城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{! Stamps 31-36 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp031.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">031 <br /> Shibata</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">031
                Shibata
                <br />
                新発田城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp032.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">032 <br /> Kasugayama</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">032
                Kasugayama
                <br />
                春日山城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp033.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">033 <br /> Takaoka</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">033
                Takaoka
                <br />
                高岡城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp034.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">034 <br /> Nanao</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">034
                Nanao
                <br />
                七尾城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp035.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">035 <br /> Kanazawa</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">035
                Kanazawa
                <br />
                金沢城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp036.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">036 <br /> Maruoka</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">036
                Maruoka
                <br />
                丸岡城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>

      <figure class="front">
        {{! Stamps 25-30 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp025.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">025 <br /> Kofu</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">025 Kofu
                <br />
                甲府城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp026.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">026 <br /> Matsushiro</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">026
                Matsushiro
                <br />
                松代城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp027.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">027 <br /> Ueda</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">027 Ueda
                <br />
                上田城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp028.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">028 <br /> Komoro</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">028
                Komoro
                <br />
                小諸城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp029.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">029 <br /> Matsumoto</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">029
                Matsumoto
                <br />
                松本城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp030.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">030 <br /> Takato</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">030
                Takato
                <br />
                高遠城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{! Stamps 19-24 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp019.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">019 <br /> Kawagoe</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">019
                Kawagoe
                <br />
                川越城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp020.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">020 <br /> Sakura</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">020
                Sakura
                <br />
                佐倉城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp021.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">021 <br /> Edo</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">021 Edo
                <br />
                江戸城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp022.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">022 <br /> Hachioji</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">022
                Hachioji
                <br />
                八王子城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp023.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">023 <br /> Odawara</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">023
                Odawara
                <br />
                小田原城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp024.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">024 <br /> Tsutsuji</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">024
                Tsutsujigasaki
                <br />
                躑躅ヶ崎館
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>

      <figure class="front">
        {{! Stamps 13-18 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp013.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">013 <br /> Shirakawa</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">013
                Shirakawa
                <br />
                白河城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp014.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">014 <br /> Mito</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">014 Mito
                <br />
                水戸城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp015.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">015 Ashikagashi</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">015
                Ashikagashi Yakata 足利氏館
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp016.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">016 <br /> Minowa</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">016
                Minowa
                <br />
                箕輪城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp017.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">017 <br /> Kanayama</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">017
                Kanayama
                <br />
                金山城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp018.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">018 <br /> Hachigata</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">018
                Hachigata
                <br />
                鉢形城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{! Stamps 7-12 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp007.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">007 <br /> Taga</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">007 Taga
                <br />
                多賀城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp008.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">008 <br /> Sendai</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">008
                Sendai
                <br />
                仙台城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp009.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">009 <br /> Kubota</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">009
                Kubota
                <br />
                久保田城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp010.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">010 <br /> Yamagata</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">010
                Yamagata
                <br />
                山形城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp011.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">011 <br /> Nihonmatsu</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">011
                Nihonmatsu
                <br />
                二本松城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp012.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">012 Aizu <br />
                Wakamatsu</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">012
                Aizu
                <br />
                会津若松城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>

      <figure class="front">
        {{! Stamps 1-6 }}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden idk" src="images/stamps/stamp001.png" />
              </div>
              <span class="small-book text-start ms-1 col-7" style="color:#000000;">001 <br /> Nemuro</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">001
                Nemuro
                <br />
                根室半島チャシ跡群
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="test col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden idk" src="images/stamps/stamp002.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">002 <br /> Goryokaku</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">002
                Goryokaku
                <br />
                五稜郭
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp003.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">003 <br /> Matsumae</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">003
                Matsumae
                <br />
                松前城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp004.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">004 <br /> Hirosaki</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">004
                Hirosaki
                <br />
                弘前城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp005.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">005 <br /> Ne</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">005 Ne
                <br />
                根城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

          <div class="card bigscreenx" style="max-width: 12.5rem; ">
            <div class="row justify-content-center">
              <div class="col-12 stamp-box animationend card-text border border-dark">
                <img class="idk hidden" src="images/stamps/stamp006.png" />
              </div><span class="small-book text-start ms-1 col-7" style="color:#000000;">006 <br /> Morioka</span>
            </div>
            <span class="big-book">
              <div class="card-header bg-light" style="color: #000000;">006
                Morioka
                <br />
                盛岡城
              </div>
            </span>
            <div class="card-body text-dark">
              <h6 class="card-title"><br></h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        <h3 class="insidecoversmall text-center p-5" style="color:#000000"><br /><br /><br />Keep track of stamps
          here.<br /><br /><br />Apply a stamp by
          clicking on a castle's white square.<br /><br /><br />If you want to erase a stamp, click the square again.
        </h3>
        <h4 style="color:#000000"><br /><br />日本百名城</h4>
      </figure>
      <figure class="front" id="cover">
        <img src="/images/bookcovertext.png" style="width:100%" class="rounded mx-auto d-block"
          alt="Map of Japan's Castles" />
        <h1 class="text-center p-3" style="color:#000000">{{name}}'s Stamp Book</h1>

        <h3 class="text-center" style="color:#000000" id="stampC"></h3>

        <h3 id="total-stamps" style="color:#000000">""</h3>
      </figure>
    </div>
  </div>
  <div class="arrowsbig">
    <button class="border-0" style="  background: transparent; color: #ffffff; " id="leftbutton" onclick="turnLeft()"><i
        class="bi-arrow-left-circle-fill" style="font-size: 5.0rem; "></i></button>
    <button id="rightbutton" class="border-0" style="  background: transparent; color: #ffffff; "
      onclick="turnRight()"><i class="bi-arrow-right-circle-fill" style="font-size: 5.0rem; "></i></button>
  </div>
</div>

<div class="arrowssmall">
  <button class="btn border-0 col-lg-3" style="  background: transparent; color: #ffffff; " id="leftbutton2"
    onclick="turnLeft2()"><i class="bi-arrow-left" style="font-size: 1.8rem; "></i></button>
  <button id="rightbutton2" class="border-0 btn col-lg-3" style="   color: #ffffff; " onclick="turnRight2()"><i
      class="bi-arrow-right" style="font-size: 1.8rem; "></i></button>
</div>


{{!--DEVELOPER NOTE: This modal was meant to appear to keep users from deleting their stamps so they don't lose their stamped date. However, we cut the stamped date feature for the MVP. We hope to bring this feature back in the future, and will uncomment this modal for that feature. --}}

{{!-- <div class="modal modal-sm modal-dialog-center text-center" tabindex="-1" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #163850;">

      <div class="modal-body">
        <h4 style="color:#ffffff">Delete this stamp's history forever?</h4>
      </div>
      <div class="modal-footer" style="justify-content: space-evenly;">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Keep it!</button>
        <button type="button" class="btn btn-danger">Delete it!</button>
      </div>
    </div>
  </div>
</div> --}}


</div>
<script src="/js/pullStamps.js"></script>